* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

:root {
	--primary-color-1: #79d7be;
	--primary-color-2: #4da1a9;
	--background-color: #eeeeee;
	--color-white: #ffffff;
	--color-black: #000000;
}

*::selection {
	background-color: var(--primary-color-2);
	color: var(--color-white);
}

body {
	width: 100%;
	background-color: var(--background-color);
	padding: 6rem;
}

h1 a {
	font-size: 5rem;
	color: var(--color-black);
}

h2 {
	margin-top: 2rem;
	font-size: 3rem;
}
